<!DOCTYPE html>
<html>
<head>
    <title>Stress Management FL</title>
    <style>
        body {
            background-color: lightblue;
            text-align: center;
            padding-top: 100px;
            font-size: 24px;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Welcome to Stress Management and Prediction</h1>
    <h2>Your Data is safe in our Federated System!</h2>
    <p>This website provides information and tools for managing stress and predicting stress levels using machine learning.</p>
    <p>Feel free to explore and make use of the resources available!</p>
    <p>Let's get started!!</p>
    <button onclick="redirect()">Click to Know Stress Level</button>
    <script>
        function redirect() {
            // Use window.location.href to navigate to the URL of the next page
            window.location.href = "/input";
        }
    </script>
</body>
</html>
